<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556461605358-5pre915pdll3hiisvrp8n72nt911q1u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556461605358-5pre915pdll3hiisvrp8n72nt911q1u5</string>
	<key>API_KEY</key>
	<string>AIzaSyB401ZVHIJfI1CE-EWYbaD138MkvA2oYuw</string>
	<key>GCM_SENDER_ID</key>
	<string>556461605358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wal.ClickerClash</string>
	<key>PROJECT_ID</key>
	<string>clickerclash</string>
	<key>STORAGE_BUCKET</key>
	<string>clickerclash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556461605358:ios:2ea688fe9d2a0e0f</string>
	<key>DATABASE_URL</key>
	<string>https://clickerclash.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5347695699689963~4557148416</string>
</dict>
</plist>